apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data-kafka-broker-0
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2

